@import "tailwindcss";

@theme {
    --color-accent: #ff4100;
    --color-bg: #000000;
    --color-separator: #444444;
    --color-text: #f2f2f2;
    --color-line: #100c0b;
    --color-base-power: #00ff7f;
    --color-boost-power: #ff6b35;
    --color-limit-power: #ff3b30;
    --color-over-power: #ffd700;
}

.drag-none {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
